.card {
  width: 200px;
  box-shadow: 2px 2px 8px #c1c1c1;
  margin: 0 30px;
  border-radius: 8px;
}

.card-content {
  margin: 20px 40px;
}

.card img {
  object-fit: cover;
  height: 100px;
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 12px;
  color: grey;
}
